.group-5,
.group-5 * {
  box-sizing: border-box;
}
.group-5 {
  height: 878px;
  position: relative;
}
.group-3 {
  width: 1918px;
  height: 878px;
  position: static;
}
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
  #ft {
  background-color: #123478;
  height: 72.43px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; /* 필요시 조정, 다른 요소들보다 위에 표시되도록 */
}
   
.main {
  background: #ffffff;
  width: 1918px;
  height: 840px;
  position: absolute;
  left: 0px;
  top: 60.68px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.group-4 {
  width: 1824px;
  height: 710px;
  position: static;
}
.auto-big-box-1 {
  background: #f1f1f1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 433px;
  height: 710px;
  position: absolute;
  left: 47px;
  top: 105px;
}
.auto-big-box-2 {
  background: #f1f1f1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 433px;
  height: 710px;
  position: absolute;
  left: 510px;
  top: 105px;
}
.auto-big-box-3 {
  background: #f1f1f1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 433px;
  height: 710px;
  position: absolute;
  left: 974px;
  top: 105px;
}
.auto-big-box-4 {
  background: #f1f1f1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 433px;
  height: 710px;
  position: absolute;
  left: 1438px;
  top: 105px;
}
.pre-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 124px;
  top: 140px;
}
.pre-ok {
  background: #00ff0a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 85px;
  height: 48px;
  position: absolute;
  left: 349px;
  top: 130px;
}
.pre-ok-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 365px;
  top: 137px;
}
.pre-no {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 85px;
  height: 48px;
  position: absolute;
  left: 349px;
  top: 130px;
}
.pre-no-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 352px;
  top: 137px;
}
.rectangle-1 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 57px;
  top: 210px;
}
.rectangle-2 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 132px;
  top: 210px;
}
.rectangle-3 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 57px;
  top: 252px;
}
.rectangle-4 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 132px;
  top: 252px;
}
.rectangle-5 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 57px;
  top: 294px;
}
.rectangle-6 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 132px;
  top: 294px;
}
.rectangle-7 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 57px;
  top: 337px;
}
.rectangle-8 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 132px;
  top: 337px;
}
.rectangle-9 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 57px;
  top: 379px;
}
.rectangle-10 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 132px;
  top: 379px;
}
.rectangle-11 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 57px;
  top: 421px;
}
.rectangle-12 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 132px;
  top: 421px;
}
.rectangle-13 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 57px;
  top: 463px;
}
.rectangle-14 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 132px;
  top: 463px;
}
.rectangle-15 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 57px;
  top: 506px;
}
.rectangle-16 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 132px;
  top: 506px;
}
.rectangle-17 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 57px;
  top: 548px;
}
.rectangle-18 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 132px;
  top: 548px;
}
.rectangle-19 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 57px;
  top: 591px;
}
.rectangle-20 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 132px;
  top: 591px;
}
.seq-entrance-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 543px;
  top: 140px;
}
.seq-entrance-ok {
  background: #00ff0a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 85px;
  height: 48px;
  position: absolute;
  left: 813px;
  top: 130px;
}
.seq-entrance-ok-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 829px;
  top: 137px;
}
.seq-entrance-no {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 85px;
  height: 48px;
  position: absolute;
  left: 813px;
  top: 130px;
}
.seq-entrance-no-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 816px;
  top: 137px;
}
.rectangle-23 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 521px;
  top: 210px;
}
.rectangle-24 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 596px;
  top: 210px;
}
.rectangle-25 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 521px;
  top: 252px;
}
.rectangle-26 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 596px;
  top: 252px;
}
.rectangle-27 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 521px;
  top: 294px;
}
.rectangle-28 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 596px;
  top: 294px;
}
.rectangle-29 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 521px;
  top: 337px;
}
.rectangle-30 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 596px;
  top: 337px;
}
.rectangle-31 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 521px;
  top: 379px;
}
.rectangle-32 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 596px;
  top: 379px;
}
.rectangle-33 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 521px;
  top: 421px;
}
.rectangle-34 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 596px;
  top: 421px;
}
.rectangle-35 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 521px;
  top: 463px;
}
.rectangle-36 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 596px;
  top: 463px;
}
.rectangle-37 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 521px;
  top: 506px;
}
.rectangle-38 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 596px;
  top: 506px;
}
.rectangle-39 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 521px;
  top: 548px;
}
.rectangle-40 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 596px;
  top: 548px;
}
.rectangle-41 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 521px;
  top: 591px;
}
.rectangle-42 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 596px;
  top: 591px;
}
.seq-exit-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1006px;
  top: 140px;
}
.seq-exit-ok {
  background: #00ff0a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 85px;
  height: 48px;
  position: absolute;
  left: 1276px;
  top: 130px;
}
.seq-exit-ok-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 1292px;
  top: 137px;
}
.seq-exit-no {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 85px;
  height: 48px;
  position: absolute;
  left: 1276px;
  top: 130px;
}
.seq-exit-no-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 1279px;
  top: 137px;
}
.rectangle-45 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 984px;
  top: 210px;
}
.rectangle-46 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1059px;
  top: 210px;
}
.rectangle-47 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 984px;
  top: 252px;
}
.rectangle-48 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1059px;
  top: 252px;
}
.rectangle-49 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 984px;
  top: 294px;
}
.rectangle-50 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1059px;
  top: 294px;
}
.rectangle-51 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 984px;
  top: 337px;
}
.rectangle-52 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1059px;
  top: 337px;
}
.rectangle-53 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 984px;
  top: 379px;
}
.rectangle-54 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1059px;
  top: 379px;
}
.rectangle-55 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 984px;
  top: 421px;
}
.rectangle-56 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1059px;
  top: 421px;
}
.rectangle-57 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 984px;
  top: 463px;
}
.rectangle-58 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1059px;
  top: 463px;
}
.rectangle-59 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 984px;
  top: 506px;
}
.rectangle-60 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1059px;
  top: 506px;
}
.rectangle-61 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 984px;
  top: 548px;
}
.rectangle-62 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1059px;
  top: 548px;
}
.rectangle-63 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 984px;
  top: 591px;
}
.rectangle-64 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1059px;
  top: 591px;
}
.oil-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 1536px;
  top: 140px;
}
.oil-ok {
  background: #00ff0a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 85px;
  height: 48px;
  position: absolute;
  left: 1740px;
  top: 130px;
}
.oil-ok-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 1756px;
  top: 137px;
}
.oil-no {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 85px;
  height: 48px;
  position: absolute;
  left: 1740px;
  top: 130px;
}
.oil-no-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 1743px;
  top: 137px;
}
.rectangle-67 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 1448px;
  top: 210px;
}
.rectangle-68 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1523px;
  top: 210px;
}
.rectangle-69 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 1448px;
  top: 252px;
}
.rectangle-70 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1523px;
  top: 252px;
}
.rectangle-71 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 1448px;
  top: 294px;
}
.rectangle-72 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1523px;
  top: 294px;
}
.rectangle-73 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 1448px;
  top: 337px;
}
.rectangle-74 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1523px;
  top: 337px;
}
.rectangle-75 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 1448px;
  top: 379px;
}
.rectangle-76 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1523px;
  top: 379px;
}
.rectangle-77 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 1448px;
  top: 421px;
}
.rectangle-78 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1523px;
  top: 421px;
}
.rectangle-79 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 1448px;
  top: 463px;
}
.rectangle-80 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1523px;
  top: 463px;
}
.rectangle-81 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 1448px;
  top: 506px;
}
.rectangle-82 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1523px;
  top: 506px;
}
.rectangle-83 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 1448px;
  top: 548px;
}
.rectangle-84 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1523px;
  top: 548px;
}
.rectangle-85 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 69px;
  height: 36px;
  position: absolute;
  left: 1448px;
  top: 591px;
}
.rectangle-86 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 338px;
  height: 36px;
  position: absolute;
  left: 1523px;
  top: 591px;
}
